@model Yazgelder.Entity.Models.News
@inject Yazgelder.Infrastructure.ISysFunctions _sysFunctions

@{
    var img = Model.FileList.FirstOrDefault();
    var imgstr = (img == null ? "/images/ShareImage.png" : img.FileName);
    ViewData["Title"] = Model.Title;

    ViewData["Description"] = "Yazgelder - Yazılım Geliştiricileri Derneği - " + ViewData["Title"];
    ViewData["Date"] = (DateTime.Now.ToString("s")) + "+0300";
    ViewData["image"] = "https://www.yazgelder.org" + imgstr;
    ViewData["image:width"] = "1200";
    ViewData["image:height"] = "627";
}
@section Haders{

}

<section id="sub-header-3" data-speed="8" data-type="background" class="padding-top-bottom subheader" style="background-position: 50% 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="breadcrumbs-outer">
                <ul class="breadcrumbs">
                    <li><a href="/" title="Yazılım Geliştiricileri Derneği">Ana Sayfa</a></li>
                    <li><a href="/AboutUs" title="Yazılım Geliştiricileri Derneği Hakkımızda sayfası">Hakkımızda</a></li>
                    <li><a href="/AboutUs/BoardDecisions" title="Yazılım Geliştiricileri Derneği Yönetim kurulu kararları">Yönetim kurulu kararları</a></li>
                    <li class="active">@ViewData["Title"]</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <div class="blog-single">
                    <!-- post begin -->
                    <article>
                        <div class="post-media">
                            <img src="@imgstr" class="img-responsive">
                        </div>
                        <div class="post-content">
                            <div class="post-title">
                                <h1>@Model.Title</h1>
                            </div>
                            <div class="post-metadata">
                                <span class="posted-on">
                                    <i class="fa fa-clock-o"></i>
                                    @Model.SenderDate.ToShortDateString()
                                </span>
                                <span class="byline">
                                    <i class="fa fa-user"></i>
                                    @Model.Sender
                                </span>
                                <span class="byline">
                                    <i class="fa fa-star-half-o"></i>
                                    @foreach (var item in Model.NewsCategoriesList)
                                    {
                                       
                                <a href="/news/?cat=@item.Categories.Id.ToString()">@item.Categories.Name</a>  
                                    }
                                </span>
 
                            </div>
                            <div class="hr"></div>
                            <div class="post-entry">
                                @Html.Raw(Model.Body)
                            </div>

                            <div class="clearfix"></div>
                            <div class="footer-entry clearfix">
                                <div class="single-tags pull-left">
                                    <i class="fa fa-tags"></i>
                                    @foreach (var item in Model.NewsTagsList)
                                    {

                                        <a href="/news/?tag=@item.Tag.Id.ToString()">@item.Tag.Name</a>
                                    }
                                </div>
                                
                            </div>
                        </div>
                    </article>
                    <!-- post close -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-sidebar">
                    <aside class="widget widget_categories">
                        <h3 class="widget-title">Kategoriler</h3>
                        <div class="tiny-border"></div>
                        <ul>
                            @if (ViewBag.Categories != null)
                            {
                                foreach (var item in (List<Categories>)ViewBag.Categories)
                                {
                                    <li class="cat-item"><a href="/news/?cat=@item.Id.ToString()">@item.Name</a></li>
                                }
                            }
                        </ul>
                    </aside>

                    <aside class="widget widget_tag_cloud">
                        <h3 class="widget-title">Tags</h3>
                        <div class="tiny-border"></div>
                        <div class="tagcloud">
                            @if (ViewBag.Tags != null)
                            {
                                foreach (var item in (List<Tag>)ViewBag.Tags)
                                {
                                    <a href="/news/?tag=@item.Id.ToString()">@item.Name</a>
                                }
                            }
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content close -->